



ol.lst-stps, .lst-stps {

counter-reset: item;

}

ol.lst-stps, .lst-stps {

margin: 15px 0 15px 0px;

padding-left: 0;

position: relative;

}

ol.lst-stps>li, .lst-stps>.lst-item {

counter-increment: item;

}

ol.lst-stps>li, ol.lst-stps>li>ol>li, .lst-stps .lst-item {

list-style: none inside;

margin-top: 30px;

position: relative;

padding-left:60px;

padding-right: 15px;

min-height: 2.2em;

}
ol.lst-stps > li > ul > li {
    list-style-position: outside;
}



ol.lst-stps li>*:last-child, .lst-stps .lst-item>*:last-child {margin-bottom:0px;}

ol.lst-stps>li:before, .lst-stps .lst-item:before {

content: counter(item);

}

ol.lst-stps li>ol, .lst-stps .lst-item>.sub-lst-stps {

counter-reset: subitem;

}

ol.lst-stps li>ol {

margin-left: -35px;

}

.lst-stps .lst-item {

position: relative;

padding-left: 60px;

margin-top: 30px;

}

ol.lst-stps li:before, .lst-stps .lst-item:before {

-webkit-border-radius: 50%;

-moz-border-radius: 50%;

border-radius: 50%;

border: 3px solid #26374a;

background-color: #fff;

float: left;

position: absolute;

box-sizing: content-box;

line-height: 2.2;

text-align: center;

font-weight: 600;

height: 2.2em;

width: 2.2em;

left: 0px;

margin-top: -8px;

}

ol.lst-stps>li>ol>li:before, .lst-stps>.lst-item>.sub-lst-stps>.lst-item:before {

counter-increment: subitem;

content: counter(item) "" counter(subitem, lower-alpha) "";

}

.sub-lst-stps>.lst-item:last-child {

margin-bottom: 0px

}

.lst-stps-striped>li ol, .lst-stps-striped > .lst-item > .sub-lst-stps

{margin-top:15px;}

.lst-stps.lst-stps-striped>li, .lst-stps.lst-stps-striped>li>ol>li, .lst-stps.lst-stps-striped .lst-item

{padding-top: 23px;

padding-bottom:23px;

margin-top:0px;

}

.lst-stps-striped >li:nth-child(odd), .lst-stps-striped >li:nth-child(even)>ol>li:nth-child(odd), .lst-stps-striped >li:nth-child(odd)>ol>li:nth-child(even), .lst-stps-striped >.lst-item:nth-child(odd), .lst-stps-striped >.lst-item:nth-child(even)>.sub-lst-stps>.lst-item:nth-child(odd), .lst-stps-striped >.lst-item:nth-child(odd)>.sub-lst-stps>.lst-item:nth-child(even) {

background-color: #f5f5f5;

}

.lst-stps-striped >li:nth-child(odd)>ol>li:nth-child(odd), .lst-stps-striped >.lst-item:nth-child(odd)>.sub-lst-stps>.lst-item:nth-child(odd){

background-color: #fff!important;

}

.lst-stps-striped >li:nth-child(even)>ol>li:nth-child(even):last-child, .lst-stps-striped >li:nth-child(odd)>ol>li:nth-child(even):last-child, .lst-stps-striped >.lst-item:nth-child(even)>.sub-lst-stps>.lst-item:nth-child(even):last-child, .lst-stps-striped >.lst-item:nth-child(odd)>.sub-lst-stps>.lst-item:nth-child(even):last-child {

padding-bottom: 0px;

}
ol.lst-stps li>:first-child, .lst-stps .lst-item>:first-child

               {

               margin-top:auto;             

               }
ol.lst-stps.lst-stps-striped>li, ol.lst-stps.lst-stps-striped>li>ol>li .lst-stps.lst-stps-striped .lst-item

{padding-left: 75px;}

.lst-stps-striped li:before, .lst-stps-striped .lst-item:before

{margin-left: 15px;}

ol.lst-stps li ul, ol.lst-stps>li>ol>li, ol.lst-stps.lst-stps-striped li ul, ol.lst-stps.lst-stps-striped li ul li {
	padding-left: 0px;
}
@media all and (max-width: 767px) {

ol.lst-stps li:before, .lst-stps .lst-item:before {

font-size: 0.8em;

line-height: 2;

height: 2em;

width: 2em;

margin-top: -3px;

font-weight: 600;

}

ol.lst-stps>li, .lst-stps>.lst-item {

padding-left: 45px

}

.lst-stps.lst-stps-striped li, .lst-stps.lst-stps-striped .lst-item

{padding-top: 19px;

padding-bottom:19px;

margin-top:0px;

}

}
