body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:752px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato Bold', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:142px;
  width:611px;
  height:45px;
  font-family:'Lato Bold', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:38px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:611px;
  white-space:nowrap;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:10px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:198px;
  width:70px;
  height:5px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  height:333px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:33px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:242px;
  width:613px;
  height:333px;
  font-family:'Noto Sans';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:33px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:613px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:695px;
  width:377px;
  height:19px;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u4_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u4.mouseOver {
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  white-space:nowrap;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:664px;
  width:344px;
  height:19px;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u5_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u5.mouseOver {
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  white-space:nowrap;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:635px;
  width:279px;
  height:19px;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u6_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u6.mouseOver {
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  white-space:nowrap;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:607px;
  width:331px;
  height:19px;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u7_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u7.mouseOver {
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:575px;
  width:202px;
  height:19px;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u8_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lato-Semibold', 'Lato Semibold', 'Lato';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
  color:#2D3F62;
  text-align:left;
}
#u8.mouseOver {
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
