<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Equal heights (Pure CSS) – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_32/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link href="../css/eqht.css" rel="stylesheet">
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage">
      <div id="def-top">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "Canada.ca",
             href: "https://www.canada.ca/en.html"
           }, {
             title: "[Theme]",
             href: "#"
           }],
           search: true,
           siteMenu: true,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" id="wb-cont">Equal height (Pure CSS)</h1>
		<p>Equal heights using no script, will render automatically upon page load. Also removes the equal heights for targeted items when panels are no longer in-line (100% width, stacked).  Also allows stacked items to become part of the equal height (not available with current design), as long as they are the tallest in the row. </p>
  <h2>Example one, simple height on panel</h2>
  <p>CSS attributes are applied to <code>.row</code> (<code>.wb-eqht-css</code>), targeted column grid (<code>.wb-eqht-grd</code>) and <code>.panel</code> (<code>.hght-inhrt-css</code>) divs.</p>
  <div class="row wb-eqht-css">
    <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default hght-inhrt-css">
        <div class="panel-heading">
          <h3 class="panel-title">Column 1</h3>
        </div>
        <div class="panel-body">
          <p>Column 1</p>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
      </section>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default hght-inhrt-css">
        <div class="panel-heading">
          <h3 class="panel-title">Column 2</h3>
        </div>
        <div class="panel-body">
          <p>Column 2</p>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
      </section>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Column 3</h3>
        </div>
        <div class="panel-body">
          <p>Column 3a</p>
          <ul>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
      </section>
	  <section class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Column 3</h3>
        </div>
        <div class="panel-body">
          <p>Column 3a</p>
          <ul>
            <li>test</li>
      <li>test</li>
		  <li>test</li>
          </ul>
        </div>
      </section>    
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default hght-inhrt-css">
        <div class="panel-heading">
          <h3 class="panel-title">Column 4</h3>
        </div>
        <div class="panel-body">
          <p>Column 4</p>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
      </section>
    </div>
 <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default hght-inhrt-css">
        <div class="panel-heading">
          <h3 class="panel-title">Column 5</h3>
        </div>
        <div class="panel-body">
          <p>Column 5</p>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
      </section>
    </div>
 <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default hght-inhrt-css">
        <div class="panel-heading">
          <h3 class="panel-title">Column 6</h3>
        </div>
        <div class="panel-body">
          <p>Column 6</p>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
      </section>
    </div>
 <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default hght-inhrt-css">
        <div class="panel-heading">
          <h3 class="panel-title">Column 4</h3>
        </div>
        <div class="panel-body">
          <p>Column 7</p>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
      </section>
    </div>
 <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Column 8</h3>
        </div>
        <div class="panel-body">
          <p>Column 8a</p>
          <ul>
            <li>test</li>
          
          </ul>
        </div>
      </section>
	<section class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Column 8</h3>
        </div>
        <div class="panel-body">
          <p>Column 8b</p>
          <ul>
            <li>test</li>
          
          </ul>
        </div>
      </section>
	 <section class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Column 8</h3>
        </div>
        <div class="panel-body">
          <p>Column 8c</p>
          <ul>
            <li>test</li>
          
          </ul>
        </div>
      </section>
    </div>	  
	  
  </div>
	<details>
		<summary>Code</summary>
		
	<pre><code>&lt;div class=&quot;row wb-eqht-css&quot;&gt;<br>	&lt;div class=&quot;col-xs-12 col-sm-6 col-md-3 wb-eqht-grd&quot;&gt;
		&lt;section class=&quot;panel panel-default hght-inhrt-css&quot;&gt;<br>			&lt;div class=&quot;panel-heading&quot;&gt;<br>				&lt;h3 class=&quot;panel-title&quot;&gt;Column 1&lt;/h3&gt;<br>			&lt;/div&gt;<br>			&lt;div class=&quot;panel-body&quot;&gt;<br>				&lt;p&gt;Column 1&lt;/p&gt;<br>					...<br>			&lt;/div&gt;<br>		&lt;/section&gt;<br>	&lt;/div&gt;<br> 	...<br>&lt;/div&gt; </code></pre>
		</details>
  <h2>Example 2, targeted height on panel body to allow for footers</h2>
  <p>CSS attributes are applied to <code>.row</code> (<code>.wb-eqht-css</code>), targeted column grids (<code>.wb-eqht-grd</code>), <code>.panel</code> (<code>.hght-inhrt-css</code>) and <code>.panel-body</code> (<code>.eqht-trgt-css</code>) divs.</p>
  <div class="row wb-eqht-css">
    <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default hght-inhrt-css">
        <div class="panel-heading">
          <h3 class="panel-title">Column 1</h3>
        </div>
        <div class="panel-body eqht-trgt-css">
          <p>Column 1</p>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <footer class="panel-footer">
          <p>Footer</p>
        </footer>
      </section>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default hght-inhrt-css">
        <div class="panel-heading">
          <h3 class="panel-title">Column 2</h3>
        </div>
        <div class="panel-body eqht-trgt-css">
          <p>Column 2</p>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <footer class="panel-footer">
          <p>Footer</p>
        </footer>
      </section>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default hght-inhrt-css">
        <div class="panel-heading">
          <h3 class="panel-title">Column 3</h3>
        </div>
        <div class="panel-body eqht-trgt-css">
          <p>Column 3</p>
          <ul>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <footer class="panel-footer">
          <p>Footer</p>
        </footer>
      </section>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3 wb-eqht-grd">
      <section class="panel panel-default hght-inhrt-css">
        <div class="panel-heading">
          <h3 class="panel-title">Column 4</h3>
        </div>
        <div class="panel-body eqht-trgt-css">
          <p>Column 4</p>
          <ul>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
            <li>test</li>
          </ul>
        </div>
        <footer class="panel-footer">
          <p>Footer</p>
        </footer>
      </section>
    </div>
  </div>
		<details>
		<summary>Code</summary>
		
	<pre><code>&lt;div class=&quot;row wb-eqht-css&quot;&gt;<br>	&lt;div class=&quot;col-xs-12 col-sm-6 col-md-3 wb-eqht-grd&quot;&gt;
		&lt;section class=&quot;panel panel-default hght-inhrt-css&quot;&gt;<br>			&lt;div class=&quot;panel-heading&quot;&gt;<br>				&lt;h3 class=&quot;panel-title&quot;&gt;Column 1&lt;/h3&gt;<br>			&lt;/div&gt;<br>			&lt;div class=&quot;panel-body eqht-trgt-css&quot;&gt;<br>				&lt;p&gt;Column 1&lt;/p&gt;<br>					...<br>			&lt;/div&gt;
			&lt;footer class=&quot;panel-footer&quot;&gt;
				&lt;p&gt;Footer&lt;/p&gt;
			&lt;/footer&gt;<br>		&lt;/section&gt;<br>	&lt;/div&gt;<br> 	...<br>&lt;/div&gt; </code></pre>
		</details>
	<p><strong>Notes:</strong></p>
	<ul>
	  <li>Using flexbox, items do no wrap by default required <code>flex-wrap:wrap</code> style, but will wrap if no override for mobile, so items need <code>.col-xs-*</code> in order to set the width in mobile	(e.g. <code>.col-xs-12</code> for 100% width)</li>
	  <li>Not optimized in IE11 for mobile settings
	    <ul>
	      <li>Need to determine if to leave as is (since there is no IE11 mobile browser), or</li>
	      <li>remove styling when columns reach col-xs-12 using browser targeted CSS</li>
        </ul>
	  </li>
  </ul>
        

         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: true,
            showShare: true
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: true
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/covid-19-guidance/proto/js/alpha-banner.js"></script>
   </body>
</html>
