.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.shape {
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  font-family:'NotoSansOriya', 'Noto Sans Oriya';
  font-weight:400;
  font-style:normal;
  color:#284162;
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Lato-Bold', 'Lato Bold', 'Lato';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:left;
}
.heading_3 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.label {
  font-family:'NotoSansOriya', 'Noto Sans Oriya';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.paragraph {
  font-family:'NotoNastaliqUrdu', 'Noto Nastaliq Urdu';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.accordion-label {
  font-family:'NotoSansOriya', 'Noto Sans Oriya';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#295376;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  font-size:28px;
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.icon {
}
.flow_shape {
}
.accordion-head {
}
