<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Alerts: CRA design system – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link href="../../css/pn.css" rel="stylesheet">
	  <link href="../../css/h1-underline.css" rel="stylesheet">  
	  <link href="../../css/h1-stacked.css" rel="stylesheet">   	  
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link href="../../css/design-system.css" rel="stylesheet">
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "Canada.ca",
             href: "https://www.canada.ca/en.html"
           }, {
             title: "[Theme]",
             href: "#"
           }],
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <nav class="navbar navbar-default">
         <div class="container">
            <div class="navbar-header">
               <a class="overlay-lnk navbar-toggle" role="button" aria-controls="sitenav" href="#sitenav"><span class="fas fa-bars"></span> Menu</a>
               <a class="navbar-brand active" href="../index-e.html">CRA design system</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
			    <li><a href="../principles/index-e.html">Principles</a></li>
                  <li class="active"><a href="index-e.html">Components</a></li>
                  <li><a href="../templates/index-e.html">Templates</a></li>
				 

               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="../whats-new/index-e.html">What's new</a></li>
				  <li><a href="../research/index-e.html">Research</a></li>
				  <li><a href="../about/index-e.html">About</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <section id="sitenav" class="wb-overlay modal-content overlay-def wb-panel-l">
         <header class="modal-header">
            <h2 class="modal-title">Menu</h2>
         </header>
         <div class="modal-body">
           <ul class="list-unstyled lst-spcd">
			 <li><a href="../principles/index-e.html">Principles</a></li>
                <li class="active"><a href="index-e.html">Components</a></li>
                  <li><a href="../templates/index-e.html">Templates</a></li>
				 
               <li><a href="../whats-new/index-e.html">What's new</a></li>
			   <li><a href="../research/index-e.html">Research</a></li>
			   <li><a href="../about/index-e.html">About</a></li>
            </ul>
         </div>
      </section>
      <nav id="wb-bc" property="breadcrumb">
         <h2>You are here:</h2>
         <div class="container">
            <ol class="breadcrumb">
               <li><a href="../index-e.html">CRA design system</a></li>
			   <li><a href="index-e.html">Components</a></li>
            </ol>
         </div>
      </nav>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" id="wb-cont"><span class="stacked" role="text"><span>Alerts</span>: <span>CRA design system</span></span></h1>
		 <p>[short description]</p>
		 <h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">Content approach</a>
		<ul>
		 <li><a href="#h-1-1">Purpose of alerts</a></li>
		</ul></li>
      <li><a href="#h-2">Design options</a>
	  <ul>
		 <li><a href="#h-2-1">Basic alerts</a></li>

    </ul>
	</li>

    </ul>
<h2 id="h-1" class="mrgn-bttm-0">Content approach</h2>
<p>[content]</p>
<h3 id="h-1-1">Purpose of alerts</h3>
<p>Alerts are used to call attention to information that needs to stand out from the rest of the page content. Use to provide contextual feedback messages for typical user actions. Choose from a handful of available and flexible alert messages.</p>

<h2 id="h-2" class="mrgn-bttm-0">Design options</h2>
<h3 id="h-2-1">Basic alerts</h3>
<p>Use to wrap any text and an optional dismiss button in <code>.alert</code>, or one of the four contextual classes (for example, <code>.alert-success</code>) for basic alert messages.</p>
<p>Alerts don't have default classes, only base and modifier classes. A default gray alert doesn't make too much sense, so always specify a type with a contextual class. Choose from success, info, warning, or danger.</p>
<div class="row">
<div class="col-md-4">
<div class="mrgn-tp-md"><div id="wb-auto-12"><fieldset id="wb-auto-21" data-wb-fieldflow-origin="wb-auto-11" data-wb-fieldflow-source="wb-auto-11" class="wb-fieldflow-init mrgn-bttm-md"><legend class="h5 "><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></legend>
<div class="radio"><label for="wb-auto-23"><input id="wb-auto-23" type="radio" name="wb-fieldflowwb-auto-1wb-auto-21" value="Striped rows
" data-wb-fieldflow="{&quot;bind&quot;:&quot;wb-auto-14&quot;,&quot;actions&quot;:[]}"> Success alert
</label></div>
<div class="radio"><label for="wb-auto-24"><input id="wb-auto-24" type="radio" name="wb-fieldflowwb-auto-1wb-auto-21" value="Hover effect on rows
" data-wb-fieldflow="{&quot;bind&quot;:&quot;wb-auto-15&quot;,&quot;actions&quot;:[]}"> Info alert
</label></div>
<div class="radio"><label for="wb-auto-25"><input id="wb-auto-25" type="radio" name="wb-fieldflowwb-auto-1wb-auto-21" value="Condensed spacing
" data-wb-fieldflow="{&quot;bind&quot;:&quot;wb-auto-16&quot;,&quot;actions&quot;:[]}"> Warning alert
</label></div>
<div class="radio"><label for="wb-auto-26"><input id="wb-auto-26" type="radio" name="wb-fieldflowwb-auto-1wb-auto-21" value="Highlight active row (first row)
" data-wb-fieldflow="{&quot;bind&quot;:&quot;wb-auto-17&quot;,&quot;actions&quot;:[]}"> Danger alert
</label></div>
<hr class="mrgn-tp-0 mrgn-bttm-0">
<div class="checkbox"><label for="wb-auto-22"><input id="wb-auto-22" type="checkbox" name="wb-fieldflowwb-auto-1wb-auto-21" value="Bordered
" data-wb-fieldflow="{&quot;bind&quot;:&quot;wb-auto-13&quot;,&quot;actions&quot;:[]}"> Heading
</label></div>
<div class="checkbox"><label for="wb-auto-22"><input id="wb-auto-22" type="checkbox" name="wb-fieldflowwb-auto-1wb-auto-21" value="Bordered
" data-wb-fieldflow="{&quot;bind&quot;:&quot;wb-auto-13&quot;,&quot;actions&quot;:[]}"> Alert link
</label></div>

</fieldset></div></div>
</div>
<div class="col-md-8">
               <div class="ds-example">
                  <div class="wb-tabs ignore-session">
                     <div class="tabpanels">
                        <details id="tab1a">
                           <summary>Appearance</summary>
						   <div class="row">
						   <div class="col-md-8 col-lg-9">
                          <p><strong>Alert example</strong></p>
			<section class="alert alert-success">
              <h3>(Title)</h3>
              <p>(Success content here, <a href="#" class="">link text</a>)</p>
            </section>

						   </div>

						   </div>
                        </details>
                        <details id="tab1b">
                           <summary>Code</summary>
                           <details id="tab1b-html">
                              <summary>HTML</summary>
                              <div class="mrgn-tp-md"></div>
<pre class="prettyprint prettyprinted" style=""><code>// Alert with a heading
&lt;section class="alert alert-success"&gt;
  &lt;h*&gt;...&lt;/h*&gt;
  ...
&lt;/section&gt;

// Alert without a heading
&lt;div class="alert alert-success"&gt;
   &lt;p&gt;...&lt;/p&gt;
&lt;/div&gt;</code>
</pre>
                           </details>
                           <details id="tab1b-struts">
                              <summary>Struts</summary>
                              <div class="mrgn-tp-md"></div>
                              <p>
                                 ...
                              </p>
                           </details>
                        </details>
                     </div>
                  </div>
               </div>
            </div>
</div>
<h4>Correct use</h4>
<dl class="dl-horizontal">
<dt>General</dt>
<dd>
<ul class="fa-ul">  
   
        <li><span class="fas fa-check fa-li text-success"></span>Place in the logical flow of a page</li>
		  <li><span class="fas fa-check fa-li text-success"></span>Ensure it relates to the content immediately around it</li>
		<li><span class="fas fa-check fa-li text-success"></span>Begin <code>&lt;section&gt;</code> with a heading that is specific to the featured content, and contained within it</li>
		<li><span class="fas fa-check fa-li text-success"></span>Use a general heading only if a specific heading is not possible (for example, "Congratulations", "Summary", "Attention", etc.)</li>
		<li><span class="fas fa-times fa-li text-danger"></span>Do not use <code>&lt;section&gt;</code> within another section, or validation issues occur
            <ul>
              <li>Use <code>&lt;div&gt;</code> to style the alert</li>
            </ul>
          </li>
		</ul>

</dd>
<dt>Success alert</dt>
<dd>
<ul class="fa-ul"> 
<li><span class="fas fa-check fa-li text-success"></span>Use <code>.alert-success</code> <strong>to acknowledge something positive</strong> for example, a completed task, something that  is correct</li>
<li><span class="fas fa-check fa-li text-success"></span>With the Success alert, the title appears next to a checkmark icon; the content background is green.</li>
</ul>
</dd>
<dt>Info alert</dt>
<dd>
<ul class="fa-ul"> 
 <li><span class="fas fa-check fa-li text-success"></span>Use <code>.alert-info</code> <strong>to highlight fairly important information</strong></li>
 <li><span class="fas fa-check fa-li text-success"></span>With the Info alert, the title appears next to a letter "i" icon; the content background is blue</li>
<li><span class="fas fa-check fa-li text-success"></span>Use to highlight targeted information for specific segment groups</li>

</ul>
</dd>
<dt>Warning alert</dt>
<dd>
<ul class="fa-ul"> 
 <li><span class="fas fa-check fa-li text-success"></span>Use <code>.alert-warning</code> <strong>to warn the user</strong></li>
<li><span class="fas fa-check fa-li text-success"></span>With the Warning alert, the title appears next to a caution icon; the content background is yellow.</li>
</ul>
</dd>
<dt>Danger alert</dt>
<dd>
<ul class="fa-ul"> 
 <li><span class="fas fa-check fa-li text-success"></span>Use <code>.alert-danger</code><strong> for</strong> <strong>very important, negative or dangerous, information/actions</strong> for example, systems that are down, pending changes to X, "Are you sure you want to delete X?"</li>
<li><span class="fas fa-check fa-li text-success"></span>With the Danger alert, the title appears next to an exclamation icon; the content background is red.</li>
</ul>
</dd>
<dt>Alert link</dt>
<dd>
<ul class="fa-ul"> 
 <li><span class="fas fa-check fa-li text-success"></span>To override the default appearance of a link, use the <code>.alert-link</code> utility class to quickly provide matching coloured links within any alert</li>
</ul>
</dd>
 </dl>
 <!--
 <h3 id="h-2-2">Enhanced use</h3>
 <h4>Alert links</h4>
 <p>Use to override the default appearance of a link, use the <code>.alert-link</code> utility class to quickly provide matching coloured links within any alert.</p>
 <section class="alert alert-success">
  <p>... <a href="#" class="alert-link">link text</a>.</p>
</section>

<section class="alert alert-info">
  <p>... <a href="#" class="alert-link">link text</a>.</p>
</section>

<section class="alert alert-warning">
 <p>... <a href="#" class="alert-link">link text</a>.</p>
</section>

<section class="alert alert-danger">
  <p>... <a href="#" class="alert-link">link text</a>.</p>
</section>
 -->


         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: false,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>