<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Colours: CRA design system – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link href="../../css/pn.css" rel="stylesheet">
	  <link href="../../css/h1-underline.css" rel="stylesheet">  
	  <link href="../../css/h1-stacked.css" rel="stylesheet">   	  
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link href="../../css/design-system.css" rel="stylesheet">
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "Canada.ca",
             href: "https://www.canada.ca/en.html"
           }, {
             title: "[Theme]",
             href: "#"
           }],
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <nav class="navbar navbar-default">
         <div class="container">
            <div class="navbar-header">
               <a class="overlay-lnk navbar-toggle" role="button" aria-controls="sitenav" href="#sitenav"><span class="fas fa-bars"></span> Menu</a>
               <a class="navbar-brand active" href="../index-e.html">CRA design system</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                  <li class="active"><a href="../index-e.html">Design</a></li>
                  <li><a href="../../writing/index-e.html">Writing</a></li>

               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="../../whats-new/index-e.html">What's new</a></li>
				  <li><a href="../../research/index-e.html">Research</a></li>
				  <li><a href="../../about/index-e.html">About</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <section id="sitenav" class="wb-overlay modal-content overlay-def wb-panel-l">
         <header class="modal-header">
            <h2 class="modal-title">Menu</h2>
         </header>
         <div class="modal-body">
            <ul class="list-unstyled lst-spcd">
               <li><a href="../index-e.html">Design</a></li>
               <li><a href="../../writing/index-e.html">Writing</a></li>
               
               <li><a href="../../whats-new/index-e.html">What's new</a></li>
			   <li><a href="../../research/index-e.html">Research</a></li>
			   <li><a href="../../about/index-e.html">About</a></li>
            </ul>
         </div>
      </section>
      <nav id="wb-bc" property="breadcrumb">
         <h2>You are here:</h2>
         <div class="container">
            <ol class="breadcrumb">
               <li><a href="../index-e.html">CRA design system</a></li>
			   <li><a href="../index-e.html">Design</a></li>
			   <li><a href="index-e.html">Components</a></li>
            </ol>
         </div>
      </nav>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" id="wb-cont"><span class="stacked" role="text"><span>Colours</span>: <span>CRA design system</span></span></h1>
		 <h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
	<li><a href="#marketing">CRA marketing colours</a></li>
	<li><a href="#web">Government of Canada web colours</a>
	<ul>
      <li><a href="#h1">Text</a></li>
      <li><a href="#h2">Background</a></li>
      <li><a href="#h3">Borders</a></li>
	  <li><a href="#h4">Shadows</a></li>
	   <li><a href="#h5">Usage</a></li>
    </ul></li></ul>
<section>
<h2 id="marketing">CRA marketing colours</h2>
 <div class="ds-example">
<div class="wb-tabs ignore-session">
	<div class="tabpanels">
		<details id="details-panel10">
			<summary>General</summary>
			<ul class="list-unstyled  colcount-md-2 colcount-lg-3 lst-spcd">
<li><img src="https://via.placeholder.com/50x50/333/333/" class="img-circle"> [colour name] #333</li>
<li><img src="https://via.placeholder.com/50x50/6f6f6f/6f6f6f/" class="img-circle"> [colour name] #6f6f6f </li>
<li><img src="https://via.placeholder.com/50x50/000/000/" class="img-circle"> [colour name] #000</li>
<li><img src="https://via.placeholder.com/50x50/335075/335075/" class="img-circle"> [colour name] #335075</li>
<li><img src="https://via.placeholder.com/48x48/fff/fff/" class="img-circle brdr-bttm brdr-tp brdr-lft brdr-rght"> [colour name] #fff</li>
<li><img src="https://via.placeholder.com/50x50/d3080c/d3080c/" class="img-circle"> [colour name] #d3080c</li>
<li><img src="https://via.placeholder.com/50x50/3c763d/3c763d/" class="img-circle"> [colour name] #3c763d</li>


</ul>
		</details>
		<details id="sib">
			<summary>Strategy and Innovation Branch (SIB)</summary>
			<ul class="list-unstyled colcount-md-2 colcount-lg-3 lst-spcd">
<li><img src="https://via.placeholder.com/50x50/f90/f90/" class="img-circle"> [colour name] #f90</li>
<li><img src="https://via.placeholder.com/50x50/269ABC/269ABC/" class="img-circle"> [colour name] #269ABC </li>
<li><img src="https://via.placeholder.com/50x50/000/000/" class="img-circle"> [colour name] #000</li>
<li><img src="https://via.placeholder.com/50x50/335075/335075/" class="img-circle"> [colour name] #335075</li>
<li><img src="https://via.placeholder.com/48x48/fff/fff/" class="img-circle brdr-bttm brdr-tp brdr-lft brdr-rght"> [colour name] #fff</li>
<li><img src="https://via.placeholder.com/50x50/d3080c/d3080c/" class="img-circle"> [colour name] #d3080c</li>
<li><img src="https://via.placeholder.com/50x50/3c763d/3c763d/" class="img-circle"> [colour name] #3c763d</li>


</ul>
		</details>
		<details id="hr">
			<summary>Human Resources Branch (HRB)</summary>
			<ul class="list-unstyled  colcount-md-2 colcount-lg-3 lst-spcd">
<li><img src="https://via.placeholder.com/50x50/8a6d3b/8a6d3b/" class="img-circle"> [colour name] #8a6d3b</li>
<li><img src="https://via.placeholder.com/50x50/6f6f6f/6f6f6f/" class="img-circle"> [colour name] #6f6f6f </li>
<li><img src="https://via.placeholder.com/50x50/000/000/" class="img-circle"> [colour name] #000</li>
<li><img src="https://via.placeholder.com/50x50/a94442/a94442/" class="img-circle"> [colour name] #a94442</li>
<li><img src="https://via.placeholder.com/48x48/fff/fff/" class="img-circle brdr-bttm brdr-tp brdr-lft brdr-rght"> [colour name] #fff</li>
<li><img src="https://via.placeholder.com/48x48/f8f8f8/f8f8f8/" class="img-circle brdr-bttm brdr-tp "> [colour name] #f8f8f8 </li>
<li><img src="https://via.placeholder.com/50x50/3c763d/3c763d/" class="img-circle"> [colour name] #3c763d</li>


</ul>
		</details>
	</div>
</div>
</div>
<h2 id="web">Government of Canada web colours</h2>
					<h2 id="h1">Text</h2>
			<div class="wb-eqht row">
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/333/333/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#333</span> <small>Dark gray</small></li>
							
							<li class="small">Default</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/000/000/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#000</span> <small>Black</small></li>
							
							<li class="small">Warning button</li>
							<li class="small text-right">Learn more: <a href="../components/buttons-e.html">Warning button</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/6f6f6f/6f6f6f/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#6f6f6f</span> <small>Gray</small></li>
							
							<li class="small">Muted</li>
							<li class="small text-right">Learn more: <a href="../components/x-e.html">Muted text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/fff/fff/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#fff</span> <small>White</small></li>
							
							<li class="small">Light text on dark backgrounds</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/D3080C/D3080C/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#D3080C</span> <small>Red</small></li>
							
							<li class="small">Feedback on input errors</li>
							<li class="small text-right">Learn more: <a href="../components/x-e.html">Form validation</a></li>
					 </div>
				  </div>
			   </div>


			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/335075/335075/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#335075</span> <small>Dark blue</small></li>
							
							<li class="small">Primary button link</li>
							<li class="small text-right">Learn more: <a href="../components/x-e.html">Primary buttons</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/2B4380/2B4380/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#2B4380</span> <small>Dark blue</small></li>
							
							<li class="small">Default link</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/0535D2/0535D2/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#0535D2</span> <small>Royal blue</small></li>
							
							<li class="small">Active/hover link</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/7834BC/7834BC/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#7834BC</span> <small>Purple</small></li>
							
							<li class="small">Visited link</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/3c763d/3c763d/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#3c763d</span> <small>Green</small></li>
							
							<li class="small">Success</li>
							<li class="small text-right">Learn more: <a href="../components/x-e.html">Success text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/2b542c/2b542c/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#2b542c</span> <small>Green</small></li>
							
							<li class="small">Success link focus/hover</li>
							<li class="small text-right">Learn more: <a href="../components/x-e.html">Success text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/2572b4/2572b4/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#2572b4</span> <small>Blue</small></li>
							
							<li class="small">Primary</li>
							<li class="small text-right">Learn more: <a href="../components/x-e.html">Primary text</a></li>
					 </div>
				  </div>
			   </div>
			    <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/1c578a/1c578a/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#1c578a</span> <small>Blue</small></li>
							
							<li class="small">Primary link focus/hover</li>
							<li class="small text-right">Learn more: <a href="../components/x-e.html">Primary text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/8a6d3b/8a6d3b/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#8a6d3b</span> <small>Brown</small></li>
							
							<li class="small">Warning</li>
							<li class="small text-right">Learn more: <a href="../components/x-e.html">Warning text</a></li>
					 </div>
				  </div>
			   </div>
			    <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/66512c/66512c/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#66512c</span> <small>Brown</small></li>
							
							<li class="small">Warning link focus/hover</li>
							<li class="small text-right">Learn more: <a href="../components/x-e.html">Warning text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/a94442/a94442/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#a94442</span> <small>Red</small></li>
							
							<li class="small">Danger</li>
							<li class="small text-right">Learn more: <a href="../components/x-e.html">Danger text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/843534/843534/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#843534</span> <small>Red</small></li>
							
							<li class="small">Danger link focus/hover</li>
							<li class="small text-right">Learn more: <a href="../components/x-e.html">Danger text</a></li>
					 </div>
				  </div>
			   </div>
			   
			   
			</div>
		
			<h2 id="h2">Background</h2>
			<div class="row wb-eqht">
			<div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/fff/fff/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#fff</span> <small>White</small></li>
							
							<li class="small">Default</li>
					 </div>
				  </div>
			   </div> <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/f8f8f8/f8f8f8/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#f8f8f8</span> <small>Light gray</small></li>
							
							<li class="small">Footer</li>
							<li class="small">Splash page language box: Top band</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/f5f5f5/f5f5f5/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#f5f5f5</span> <small>Light gray</small></li>
							
							<li class="small">Seperate a section of content</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/eaebed/eaebed/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#eaebed</span> <small>Light gray</small></li>
							
							<li class="small">Default button</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/cfd1d5/cfd1d5/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#cfd1d5</span> <small>Light gray</small></li>
							
							<li class="small">Default button on hover/active</li>
					 </div>
				  </div>
			   </div>
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/ccc/ccc/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#ccc</span> <small>Gray</small></li>
							
							<li class="small">?</li>
					 </div>
				  </div>
			   </div>
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/E1E4E7/E1E4E7/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#E1E4E7</span> <small>Gray</small></li>
							
							<li class="small">Splash page language box: bottom band</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/555/555/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#555</span> <small>Gray</small></li>
							
							<li class="small">?</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/333/333/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#444</span> <small>Dark gray</small></li>
							
							<li class="small">Mega-menu fly-out</li>
					 </div>
				  </div>
			   </div>
			   
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/26374a/26374a/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#26374a</span> <small>Dark blue</small></li>
							
							<li class="small">Header navigation and footer</li>
					 </div>
				  </div>
			   </div>


			  
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/0535D2/0535D2/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#0535D2</span> <small>Royal blue</small></li>
							
							<li class="small">Selected link</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/7834BC/7834BC/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#7834BC</span> <small>Purple</small></li>
							
							<li class="small">Visited link</li>
					 </div>
				  </div>
			   </div>
			</div>
			<h2 id="h3">Borders</h2>
			<div class="row wb-eqht">
			 <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/AF3C43/AF3C43/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#AF3C43</span> <small>Red</small></li>
							
							<li class="small">H1 underline</li>
					 </div>
				  </div>
			   </div>
			<div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/e0e0e0/e0e0e0/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#e0e0e0</span> <small>Light gray</small></li>
							
							<li class="small">Site search</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/D3080C/D3080C/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#D3080C</span> <small>Red</small></li>
							
							<li class="small">Danger alert</li>
							<li class="small text-right">Learn more: <a href="../components/alerts-e.html">Danger alert</a></li>
					 </div>
				  </div>
			   </div>
			   
			   
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/F90/F90/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#F90</span> <small>Yellow</small></li>
							
							<li class="small">Warning alert</li>
							<li class="small text-right">Learn more: <a href="../components/alerts-e.html">Warning alert</a></li>
					 </div>
				  </div>
			   </div>
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/278400/278400/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#278400</span> <small>Green</small></li>
							
							<li class="small">Success alert</li>
							<li class="small text-right">Learn more: <a href="../components/alerts-e.html">Success alert</a></li>
					 </div>
				  </div>
			   </div>
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/269ABC/269ABC/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#269ABC</span> <small>Blue</small></li>
							
							<li class="small">Info alert</li>
							<li class="small text-right">Learn more: <a href="../components/alerts-e.html">Info alert</a></li>
					 </div>
				  </div>
			   </div>
			   
			</div>
			
			
		<h2 id="h4">Shadows</h2>
			<div class="row wb-eqht">
			 <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/ddd/ddd/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#ddd</span> <small>Light gray</small></li>
							
							<li class="small">Splash page language buttons</li>
					 </div>
				  </div>
			   </div>
			
			
			</div>
			
					
			
			
				
						<h2 id="h5">Usage</h2>
						<div class="row">
						   <div class="col-md-4">
							 
							  <div class="alert alert-danger provisional">
								 <p class="h4">Don't</p>
								 <p>Colours should never be used exclusively to convey meaning.</p>
							  </div>
						   	</div>
							<div class="col-md-4">
							 
							    <div class="alert alert-success provisional">
								  <p class="h4">Do</p>
								  <p>Match colours with textual cues and/or invisible text for screen readers.</p>
							   </div>
							</div>
							<div class="col-md-4">
								
								<div class="alert alert-success provisional">
								   <p class="h4">Do</p>
								   <p>Particularly warning and success colours (reds and greens) should always have visible text distinctions, as these appear the same to those with colour blindness.</p>
								</div>
							 </div>
							 <div class="col-md-4">
								
																<div class="alert alert-success provisional">
									<p class="h4">Do</p>
									<p>Colour contrast for text must be at least 7:1 for normal text or 4.5:1 for large text (AAA).</p>
								</div>
								</div>
								<div class="col-md-4">
								
																<div class="alert alert-success provisional">
								<p class="h4">Do</p>
								<p>Use a colour contrast checker, such as <a href=""></a> to test any non-standard colours or colour combinations. Ensure that colours used are WCAG Level AAA.</p>
							</div>
								</div>
						</div>
				
			
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: false,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>