<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Layout: CRA design system – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link href="../../../css/pn.css" rel="stylesheet">
	  <link href="../../../css/h1-underline.css" rel="stylesheet">  
	  <link href="../../../css/h1-stacked.css" rel="stylesheet">   	  
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link href="../../../css/design-system.css" rel="stylesheet">
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "Canada.ca",
             href: "https://www.canada.ca/en.html"
           }, {
             title: "[Theme]",
             href: "#"
           }],
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <nav class="navbar navbar-default">
         <div class="container">
            <div class="navbar-header">
               <a class="overlay-lnk navbar-toggle" role="button" aria-controls="sitenav" href="#sitenav"><span class="fas fa-bars"></span> Menu</a>
               <a class="navbar-brand active" href="../index-e.html">CRA design system</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
			    <li><a href="../principles/index-e.html">Principles</a></li>
                  <li class="active"><a href="index-e.html">Components</a></li>
                  <li><a href="../templates/index-e.html">Templates</a></li>
				 

               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="../whats-new/index-e.html">What's new</a></li>
				  <li><a href="../research/index-e.html">Research</a></li>
				  <li><a href="../about/index-e.html">About</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <section id="sitenav" class="wb-overlay modal-content overlay-def wb-panel-l">
         <header class="modal-header">
            <h2 class="modal-title">Menu</h2>
         </header>
         <div class="modal-body">
            <ul class="list-unstyled lst-spcd">
			 <li><a href="../principles/index-e.html">Principles</a></li>
                <li class="active"><a href="index-e.html">Components</a></li>
                  <li><a href="../templates/index-e.html">Templates</a></li>
				 
               <li><a href="../whats-new/index-e.html">What's new</a></li>
			   <li><a href="../research/index-e.html">Research</a></li>
			   <li><a href="../about/index-e.html">About</a></li>
            </ul>
         </div>
      </section>
      <nav id="wb-bc" property="breadcrumb">
         <h2>You are here:</h2>
         <div class="container">
            <ol class="breadcrumb">
               <li><a href="../index-e.html">CRA design system</a></li>
			   <li><a href="../index-e.html">Design</a></li>
			   <li><a href="index-e.html">Foundation</a></li>
            </ol>
         </div>
      </nav>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" id="wb-cont"><span class="stacked" role="text"><span>Layout</span>: <span>CRA design system</span></span></h1>
		  <h2 class="h3">On this page</h2>
    <ul>
      <li><a href="#h-1">Banner</a></li>
      <li><a href="#h-2">Footer</a></li>
	  <li><a href="#h-3">Width and breakpoints</a></li>
	  
    </ul>
	<h2 id="h-1">Banner</h2>
	<p>For details on the:</p>
	<ul>
	<li>Government of Canada signature</li>
	<li>Language toggle</li>
	<li>Site search box</li>
	<li>Theme and topic menu</li>
	<li>Breadcrumb trail</li>
	<li>Background colour</li>
	</ul>
	<p>Refer to: <a href="https://design.canada.ca/common-design-patterns/global-header.html">Global header - Canada.ca design pattern</a></p>
     
      <h2 id="h-2">Footer</h2>
	  <p>For details on the:</p>
	<ul>
	<li>Report a problem</li>
	<li>Share this page</li>
<li>Date modified</li>
<li>Footer links</li>
<li>Sub-footer links</li>

<li>Canada wordmark</li>
</ul>
<p>Refer to: <a href="https://design.canada.ca/common-design-patterns/site-footer.html">Site footer - Canada.ca design pattern</a></p>
	<h2 id="h-3">Width and breakpoints</h2>
		 <p>The layout uses Bootstrap 3.  For full details, refer to: <a href="../components/grids-e.html">Grids</a></p>
		 <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th><span class="fas fa-mobile-alt text-center"></span><br>
            Extra small devices
            <small class="text-nowrap"> Phones (&lt;768px)</small>
          </th>
          <th><span class="fas fa-tablet-alt text-center"></span><br>
            Small devices
            <small class="text-nowrap"> Tablets (≥768px)</small>
          </th>
          <th><span class="fas fa-laptop text-center"></span><br>
            Medium devices
            <small class="text-nowrap"> Desktops (≥992px)</small>
          </th>
          <th><span class="fas fa-desktop text-center"></span><br> 
            Large devices
            <small class="text-nowrap">Desktops (≥1200px)</small>
          </th>
        </tr>
      </thead>
      <tbody>
       
        <tr>
          <th scope="row">Container width</th>
          <td>None (auto)</td>
          <td>750px</td>
          <td>970px</td>
          <td>1170px</td>
        </tr>
        
        <tr>
          <th scope="row">Maximum number of columns</th>
          <td>12</td>
		  <td>12</td>
		  <td>12</td>
		  <td>12</td>
        </tr>
        <tr>
          <th scope="row">Individual column width</th>
          <td>Auto</td>
          <td>~62px</td>
          <td>~81px</td>
          <td>~97px</td>
        </tr>
        <tr>
          <th scope="row">Gutter width</th>
		  <td>15px left and 15px right of each grid cell</td>
          <td>15px left and 15px right of each grid cell</td>
		  <td>15px left and 15px right of each grid cell</td>
		  <td>15px left and 15px right of each grid cell</td>
        </tr>
        
        
      </tbody>
    </table>
  </div>
 
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: false,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>