<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Tables: CRA design system – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link href="../../css/pn.css" rel="stylesheet">
	  <link href="../../css/h1-underline.css" rel="stylesheet">  
	  <link href="../../css/h1-stacked.css" rel="stylesheet">   	  
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link href="../../css/design-system.css" rel="stylesheet">
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "Canada.ca",
             href: "https://www.canada.ca/en.html"
           }, {
             title: "[Theme]",
             href: "#"
           }],
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <nav class="navbar navbar-default">
         <div class="container">
            <div class="navbar-header">
               <a class="overlay-lnk navbar-toggle" role="button" aria-controls="sitenav" href="#sitenav"><span class="fas fa-bars"></span> Menu</a>
               <a class="navbar-brand active" href="../index-e.html">CRA design system</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
			    <li><a href="../principles/index-e.html">Principles</a></li>
                  <li class="active"><a href="index-e.html">Components</a></li>
                  <li><a href="../templates/index-e.html">Templates</a></li>
				 

               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="../whats-new/index-e.html">What's new</a></li>
				  <li><a href="../research/index-e.html">Research</a></li>
				  <li><a href="../about/index-e.html">About</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <section id="sitenav" class="wb-overlay modal-content overlay-def wb-panel-l">
         <header class="modal-header">
            <h2 class="modal-title">Menu</h2>
         </header>
         <div class="modal-body">
           <ul class="list-unstyled lst-spcd">
			 <li><a href="../principles/index-e.html">Principles</a></li>
                <li class="active"><a href="index-e.html">Components</a></li>
                  <li><a href="../templates/index-e.html">Templates</a></li>
				 
               <li><a href="../whats-new/index-e.html">What's new</a></li>
			   <li><a href="../research/index-e.html">Research</a></li>
			   <li><a href="../about/index-e.html">About</a></li>
            </ul>
         </div>
      </section>
      <nav id="wb-bc" property="breadcrumb">
         <h2>You are here:</h2>
         <div class="container">
            <ol class="breadcrumb">
               <li><a href="../index-e.html">CRA design system</a></li>
			   <li><a href="index-e.html">Components</a></li>
            </ol>
         </div>
      </nav>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" id="wb-cont"><span class="stacked" role="text"><span>Tables</span>: <span>CRA design system</span></span></h1>
		 <p>[short description]
		 <h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">Content approach</a>
		<ul>
		  <li><a href="#h-1-1">Purpose of tables</a></li>
          <li><a href="#h-1-2">Use column and row headers</a></li>
          <li><a href="#h-1-3">Use the simplest structure possible</a></li>
          <li><a href="#h-1-4">Limit the use of texture and colour</a></li>
          <li><a href="#h-1-5">Avoid having blank cells</a></li>
          <li><a href="#h-1-6">Case study</a></li>
		</ul></li>
      <li><a href="#h-2">Design options</a>
	  <ul>
		 <li><a href="#h-2-1">toc2a</a></li>
      <li><a href="#h-2-2">toc2b</a></li>
	   <li><a href="#h-2-3">toc2c</a></li>
		</ul></li>
		 <li><a href="#h-3">Supporting research</a></li>
    </ul>
<h2 id="h-1" class="mrgn-bttm-0">Content approach</h2>
<h3 id="h-1-1">Purpose of tables</h3>
      <p>Use tables to organize and present data. Make sure that the:</p>
      <ul>
        <li>value of each cell relates to the column and row headers</li>
        <li>entries in a column don't contain information that could be considered a subhead </li>
        <li>value of each cell aligns with the column header that appears directly above it </li>
      </ul>
      <p>Give your table a clear title that describes the information in it.</p>
      <h4 class="h5">Example <span class="wb-inv">of a table that organizes data</span></h4>
      <table class="table table-condensed table-bordered">
        <caption>
        <strong>Comparison of net budgetary authorities and expenditures for Vote 1 as of December 31, for fiscal years 2011 to 2012 and 2012 to 2013 ($ millions)</strong>
        </caption>
        <thead>
          <tr class="active">
            <th scope="col">Vote 1</th>
            <th scope="col" class="text-center">2011 to 2012</th>
            <th scope="col" class="text-center">2012 to 2013</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Net budgetary authorities</th>
            <td class="text-right">287.4</td>
            <td class="text-right">252.4</td>
          </tr>
          <tr>
            <th scope="row">Year-to-date expenditures ending December 31</th>
            <td class="text-right">184.1</td>
            <td class="text-right">154.6</td>
          </tr>
        </tbody>
      </table>
      <h3 id="h-1-2">Use column and row headers</h3>
      <p>Each column and row of a table must have a header that describes the information in that column or row.</p>
      <p>Column and row headers are different from headings and subheadings:</p>
      <ul>
        <li>column and row headers appear in the cells at the top and on the far left of a table</li>
        <li>headings and subheadings refer to the title of a table or a section of content that appears on a web page</li>
      </ul>
      <p>Check that there is a consistent relationship between the columns and rows.</p>
      <p>For example, to check the table above, ask yourself whether you can align the information that appears in:</p>
      <ul>
        <li>the column, with the column header that appears directly above it ("Vote 1," "2011 to 2012" ($ millions) and "2012 to 2013" ($ millions)) </li>
        <li>a row, with the row header that defines it ("Net budgetary authorities" and "Year-to-date expenditures ending December 31") </li>
      </ul>
      <p>Your web team will use the information in the headers to code the table. Afterwards, screen readers will be able to correctly interpret the data within the table.</p>
      <p>In the following example, all the cells in the first: </p>
      <ul>
        <li>row are column headers and appear bolded and in grey&nbsp; </li>
        <li>column are row headers (except the top-left cell) and appear bolded</li>
      </ul>
      <table class="table table-condensed table-bordered">
        <caption>
        <strong>Disclosure of contracts over $10,000 from January to March 2010<sup id="table2b-fn1-rf"><a class="fn-lnk" href="#table2b-fn1"><span class="wb-inv">table 2 note </span>*</a></sup></strong>
        </caption>
        <thead>
          <tr class="active">
            <th scope="col" class="text-center">Date contract was awarded</th>
            <th scope="col" class="text-center">Vendor name</th>
            <th scope="col" class="text-center">Description </th>
            <th scope="col" class="text-center">Value</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4"><section class="wb-fnote">
                <h5 class="wb-inv" id="table2b-fn">Table 2 Notes</h5>
                <dl>
                  <dt> Table 2 Note * </dt>
                  <dd id="table2b-fn1">
                    <p>Fourth quarter of the April 1, 2009, to March 31, 2010, fiscal year.</p>
                    <p class="fn-rtn"> <a href="#table2b-fn1-rf"><span class="wb-inv">Return to table 2 note </span>*<span class="wb-inv"> referrer</span></a> </p>
                  </dd>
                  <dt> Table 2 Note ** </dt>
                  <dd id="table2b-fn2">
                    <p>Dates in this table represent the year, month and day (yyyy-mm-dd).</p>
                    <p class="fn-rtn"> <a href="#table2b-fn2-rf"><span class="wb-inv">Return to table 2 note </span>**<span class="wb-inv"> referrer</span></a> </p>
                  </dd>
                </dl>
              </section></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td scope="row"><strong>2010-02-01<sup id="table2b-fn2-rf"><a class="fn-lnk" href="#table2b-fn2"><span class="wb-inv">table 2 note </span>**</a></sup></strong></td>
            <td>ABC Business Solutions</td>
            <td>Rental of machinery office furniture and fixtures</td>
            <td class="text-right">$227,703.22</td>
          </tr>
          <tr>
            <td scope="row"><strong>2010-02-20</strong></td>
            <td>IT Consultants R Us</td>
            <td>Other professional services not elsewhere specified</td>
            <td class="text-right">$227,956.64</td>
          </tr>
          <tr>
            <td scope="row"><strong>2010-02-23</strong></td>
            <td>Management Consulting Group Limited</td>
            <td>Management consulting</td>
            <td class="text-right">$285,575.89</td>
          </tr>
          <tr>
            <td scope="row"><strong>2010-03-01</strong></td>
            <td>XYZ Consultants</td>
            <td>Other professional services not elsewhere specified </td>
            <td class="text-right">$56,294.42</td>
          </tr>
        </tbody>
      </table>
      <p class="mrgn-tp-lg">By looking at the column headers "Date contract was awarded," "Vendor name" and "Value," people can understand that on February 23, 2010, Management Consulting Group Limited was awarded a contract valued at $285,575.89.</p>
      <h3 id="h-1-3">Use the simplest structure possible</h3>
      <p>It can be difficult to make tables accessible and easy to read for people using screen readers or mobile devices.</p>
      <p>To make information useful to the widest possible audience:</p>
      <ul>
        <li>turn a complex table into one or more simple tables</li>
        <li>convert a table to a list if the data is simple</li>
      </ul>
      <h4>Before: complex table</h4>
      <p>The following table is complex and poorly designed. It would be difficult for someone using a screen reader or a mobile device to access and understand the information.</p>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>National Hockey League Stanley Cup Canadian winning teams (1927–2013)</strong>
        </caption>
        <thead>
          <tr class="active">
            <th colspan="6" scope="colgroup"><strong>Eastern Conference</strong></th>
            <th colspan="4" scope="colgroup"><strong>Western Conference</strong></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td class="small" colspan="10"><p>Source : <a href="http://www.nhl.com">nhl.com</a></p></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="col">Team</th>
            <th scope="col">Wins</th>
            <th scope="col">Team</th>
            <th scope="col">Wins</th>
            <th scope="col">Team</th>
            <th scope="col">Wins</th>
            <th scope="col">Team</th>
            <th scope="col">Wins</th>
            <th scope="col">Team</th>
            <th scope="col">Wins</th>
          </tr>
          <tr>
            <td>Montréal Canadiens</td>
            <td class="text-right">22</td>
            <td>Toronto Maple Leafs</td>
            <td class="text-right">11</td>
            <td>Ottawa Senators</td>
            <td class="text-right">1</td>
            <td>Edmonton Oilers</td>
            <td class="text-right">5</td>
            <td>Calgary Flames</td>
            <td class="text-right">1</td>
          </tr>
        </tbody>
      </table>
      <h4>After: simple tables</h4>
      <p>The complex table easily converts into simple tables.</p>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>National Hockey League Stanley Cup Canadian winning teams (1927 to 2013)</strong>
        </caption>
        <thead>
          <tr class="active">
            <th class="text-center" scope="col">Team</th>
            <th class="text-center" scope="col">Conference </th>
            <th class="text-center" scope="col">Wins </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td class="small" colspan="3"><p>Source : <a href="http://www.nhl.com">nhl.com</a></p></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row">Montreal Canadiens</th>
            <td>Eastern </td>
            <td class="text-right">22</td>
          </tr>
          <tr>
            <th scope="row">Toronto Maple Leafs</th>
            <td>Eastern </td>
            <td class="text-right">11</td>
          </tr>
          <tr>
            <th scope="row">Edmonton Oilers</th>
            <td>Western </td>
            <td class="text-right">5</td>
          </tr>
          <tr>
            <th scope="row">Calgary Flames</th>
            <td>Western </td>
            <td class="text-right">1</td>
          </tr>
          <tr>
            <th scope="row">Ottawa Senators</th>
            <td>Eastern</td>
            <td class="text-right">1</td>
          </tr>
        </tbody>
      </table>
      <p class="mrgn-tp-lg">If it's important to highlight Stanley Cup championships by NHL conference (region), present the information using 2 simpler tables, and use table titles to clarify which conference the teams represent.</p>
      <h5>Example: multiple simple tables </h5>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>Table 1: Eastern conference: National Hockey League Stanley Cup Canadian winning teams (1927 to 2013)</strong>
        </caption>
        <thead>
          <tr class="active">
            <th class="text-center" scope="col">Team </th>
            <th class="text-center" scope="col">Wins </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td class="small" colspan="2"><p>Source : <a href="http://www.nhl.com">nhl.com</a></p></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row">Montreal Canadiens</th>
            <td class="text-right">22</td>
          </tr>
          <tr>
            <th scope="row">Toronto Maple Leafs</th>
            <td class="text-right">11</td>
          </tr>
          <tr>
            <th scope="row">Ottawa Senators</th>
            <td class="text-right">1</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>Table 2: Western conference: National Hockey League Stanley Cup Canadian winning teams (1927 to 2013)</strong>
        </caption>
        <thead>
          <tr class="active">
            <th class="text-center" scope="col">Team </th>
            <th class="text-center" scope="col">Wins</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td class="small" colspan="2"><p>Source : <a href="http://www.nhl.com">nhl.com</a></p></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row">Edmonton Oilers</th>
            <td class="text-right">5</td>
          </tr>
          <tr>
            <th scope="row">Calgary Flames</th>
            <td class="text-right">1</td>
          </tr>
        </tbody>
      </table>
      <p class="mrgn-tp-md">The complex table also easily converts into 2 lists. </p>
      <h5>Example: convert tables to text </h5>
      <p><strong>Eastern conference National Hockey League</strong>:</p>
      <p>The Stanley Cup Canadian winning teams from 1927 to 2013</p>
      <ul>
        <li>Montreal Canadiens: 22</li>
        <li>Toronto Maple Leafs: 11</li>
        <li>Ottawa Senators: 1</li>
      </ul>
      <p><strong>Western conference National Hockey League </strong>: </p>
      <p>The Stanley Cup Canadian winning teams from 1927 to 2013</p>
      <ul>
        <li>Edmonton Oilers: 5</li>
        <li>Calgary Flames: 1</li>
      </ul>
      <h3 id="h-1-4">Limit the use of texture and colour </h3>
      <p>Avoid formatting cells with textures or colours, because it can make text difficult to read.</p>
      <p>If you must use textures and colours in a table, explain what they mean (for example, in a table note or in a legend). Make sure you comply with the <a href="http://www.w3.org/TR/2008/REC-WCAG20-20081211/#visual-audio-contrast-contrast">minimum colour contrast rules (1.4.3)</a> from the <cite>Web Content Accessibility Guidelines (WCAG) 2.0</cite>.</p>
      <p><strong>Never</strong> rely on colour or texture alone to convey important information. </p>
      <h3 id="h-1-5">Avoid having blank cells </h3>
      <p>Assistive technologies like a screen reader will notify the person if the cell is blank. If a cell has no value, explain why in your table's: </p>
      <ul>
        <li>notes </li>
        <li>legend</li>
        <li>caption</li>
        <li>surrounding content</li>
      </ul>
      <p>You may also write one of the following in the cell, as long as it's clear and doesn't create visual noise that would distract your audience:</p>
      <ul>
        <li>"no data" </li>
        <li>"0" (zero)</li>
        <li>"n/a" (not applicable)</li>
      </ul>
      <h3 id="h-1-6">
      Case study
      </h3>
      <h3>Before</h3>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>Table: supporting families and communities (in $ millions), Budget 2013</strong>
        </caption>
        <thead>
          <tr class="active">
            <th scope="col">Supporting Families and Communities (in $ millions)</th>
            <th class="text-right" scope="col">2013 to 2014</th>
            <th class="text-right" scope="col">2014 to 2015</th>
            <th class="text-right" scope="col">Total</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4">Note: Totals may not add due to rounding.</td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row"><strong>Support for Families</strong></th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Expanding Tax Relief for Home Care Services</span></th>
            <td class="text-right">5</td>
            <td class="text-right">5</td>
            <td class="text-right">10</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Palliative and End-of-Life Care</span></th>
            <td class="text-right">1</td>
            <td class="text-right">1</td>
            <td class="text-right">2</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Tariff Relief for Canadians Consumers</span></th>
            <td class="text-right">76</td>
            <td class="text-right">76</td>
            <td class="text-right">152</td>
          </tr>
          <tr>
            <th scope="row">Subtotal—Support for Families</th>
            <td class="text-right">82</td>
            <td class="text-right">82</td>
            <td class="text-right">164</td>
          </tr>
          <tr>
            <th scope="row">&nbsp;</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><strong>Investing in Communities</strong></th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Housing for Canadians in Need</span></th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Homelessness Partnering Strategy</span></th>
            <td class="text-right">&nbsp;</td>
            <td class="text-right">119</td>
            <td class="text-right">119</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Investment in Affordable Housing</span></th>
            <td class="text-right">&nbsp;</td>
            <td class="text-right">253</td>
            <td class="text-right">253</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Investment in Nunavut Housing</span></th>
            <td class="text-right">30</td>
            <td class="text-right">70</td>
            <td class="text-right">100</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Supporting and Honouring Veterans</span></th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Enhancing Veterans Affairs Canada's Funeral and Burial Program</span></th>
            <td class="text-right">63</td>
            <td class="text-right">2</td>
            <td class="text-right">65</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Road to 2017</span></th>
            <td class="text-right">1</td>
            <td class="text-right">2</td>
            <td class="text-right">3</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Investments in Arts and Culture</span></th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Massey Hall Revitalization</span></th>
            <td class="text-right">8</td>
            <td class="text-right">&nbsp;</td>
            <td class="text-right">8</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Expanding Library Services for the</span></th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Blind and Partially Sighted</span></th>
            <td class="text-right">3</td>
            <td class="text-right">&nbsp;</td>
            <td class="text-right">3</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">First-Time Donor's Super Credit</span></th>
            <td class="text-right">25</td>
            <td class="text-right">25</td>
            <td class="text-right">50</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Supporting the Economic Transition of Communities Economically Linked to the Chrysotile Asbestos Industry</span></th>
            <td class="text-right">3</td>
            <td class="text-right">5</td>
            <td class="text-right">8</td>
          </tr>
          <tr>
            <th scope="row">Subtotal—Investing in Communities</th>
            <td class="text-right">133</td>
            <td class="text-right">476</td>
            <td class="text-right">609</td>
          </tr>
          <tr>
            <th scope="row">&nbsp;</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><strong>Protecting Canada's Natural Environment</strong></th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Nature Conservancy of Canada</span></th>
            <td class="text-right">20</td>
            <td class="text-right">&nbsp;</td>
            <td class="text-right">20</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Improving the Conservation of Fisheries</span></th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Through Community Partnerships</span></th>
            <td class="text-right">5</td>
            <td class="text-right">5</td>
            <td class="text-right">10</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Salmon Conservation Stamp</span></th>
            <td class="text-right">1</td>
            <td class="text-right">1</td>
            <td class="text-right">2</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Enabling Responsible Marine Management</span></th>
            <td class="text-right">4</td>
            <td class="text-right">&nbsp;</td>
            <td class="text-right">4</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Protecting Against Invasive Species</span></th>
            <td class="text-right">2</td>
            <td class="text-right">2</td>
            <td class="text-right">3</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Expanding Tax Support for Clean Energy Generation</span></th>
            <td class="text-right">&nbsp;</td>
            <td class="text-right">1</td>
            <td class="text-right">1</td>
          </tr>
          <tr>
            <th scope="row">Subtotal—Protecting Canada's Natural Environment</th>
            <td class="text-right">32</td>
            <td class="text-right">9</td>
            <td class="text-right">41</td>
          </tr>
          <tr>
            <th scope="row">&nbsp;</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><strong>Building Strong Aboriginal Communities</strong></th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Resolving Specific Claims</span></th>
            <td class="text-right">27</td>
            <td class="text-right">27</td>
            <td class="text-right">54</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">First Nations Land Management Regime</span></th>
            <td class="text-right">2</td>
            <td class="text-right">7</td>
            <td class="text-right">9</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">First Nations Policing Program</span></th>
            <td class="text-right">18</td>
            <td class="text-right">18</td>
            <td class="text-right">36</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Aboriginal Justice Strategy</span></th>
            <td class="text-right">11</td>
            <td class="text-right">&nbsp;</td>
            <td class="text-right">11</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Renewal of the Family Violence Prevention Program</span></th>
            <td class="text-right">12</td>
            <td class="text-right">12</td>
            <td class="text-right">24</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Improving Health Services to First Nations Communities</span></th>
            <td class="text-right">24</td>
            <td class="text-right">24</td>
            <td class="text-right">48</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Enhancing Mental Health Services in First Nations Communities</span></th>
            <td class="text-right">2</td>
            <td class="text-right">2</td>
            <td class="text-right">4</td>
          </tr>
          <tr>
            <th scope="row">Subtotal—Building Strong Aboriginal Communities</th>
            <td class="text-right">95</td>
            <td class="text-right">90</td>
            <td class="text-right">185</td>
          </tr>
          <tr>
            <th scope="row">&nbsp;</th>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <th scope="row"><strong>Total—Supporting Families and Communities</strong></th>
            <td class="text-right"><strong>342</strong></td>
            <td class="text-right"><strong>657</strong></td>
            <td class="text-right"><strong>999</strong></td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md"><strong>Less funds existing in the fiscal framework</strong></span></th>
            <td class="text-right"><strong>76</strong></td>
            <td class="text-right"><strong>422</strong></td>
            <td class="text-right"><strong>498</strong></td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md"><strong>Less funds sourced from internal reallocations</strong></span></th>
            <td class="text-right"><strong>1</strong></td>
            <td class="text-right"><strong>11</strong></td>
            <td class="text-right"><strong>12</strong></td>
          </tr>
          <tr>
            <th scope="row"><strong>Net fiscal cost</strong></th>
            <td class="text-right"><strong>265</strong></td>
            <td class="text-right"><strong>224</strong></td>
            <td class="text-right"><strong>489</strong></td>
          </tr>
        </tbody>
      </table>
      <h3>After</h3>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>Table 1: supporting families and communities for fiscal years 2013 to 2014 and 2014 to 2015, net fiscal costs (in $ millions)<sup id="table1-fn1-rf"><a class="fn-lnk" href="#table1-fn1"><span class="wb-inv">table 1 note </span>1</a></sup></strong>
        </caption>
        <thead>
          <tr class="active">
            <th scope="col">Cost breakdown </th>
            <th scope="col">2013 to 2014</th>
            <th scope="col">2014 to 2015</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4"><section class="wb-fnote">
                <h5 class="wb-inv" id="table1-fn">Table 1 Notes</h5>
                <dl>
                  <dt> Table 1 Note 1 </dt>
                  <dd id="table1-fn1">
                    <p>Totals may not add due to rounding.</p>
                    <p class="fn-rtn"> <a href="#table1-fn1-rf"><span class="wb-inv">Return to table 1 note </span>1<span class="wb-inv"> referrer</span></a></p>
                  </dd>
                  <dt> Table 1 Note 2 </dt>
                  <dd id="table1-fn2">
                    <p>See Table 1B for detailed breakdown.</p>
                    <p class="fn-rtn"> <a href="#table1-fn2-rf"><span class="wb-inv">Return to table 1 note </span>2<span class="wb-inv"> referrer</span></a></p>
                  </dd>
                </dl>
              </section></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row">Total: supporting families and communities<sup id="table1-fn2-rf"><a class="fn-lnk" href="#table1-fn2"><span class="wb-inv">table 1 note </span>2</a></sup></th>
            <td>342</td>
            <td>657</td>
            <td>999</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Less funds existing in the fiscal framework</span></th>
            <td>(76)</td>
            <td>(422)</td>
            <td>(498)</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Less funds sourced from internal reallocations</span></th>
            <td>(1)</td>
            <td>(11)</td>
            <td>(12)</td>
          </tr>
          <tr>
            <th scope="row">Net fiscal costs</th>
            <td>265</td>
            <td>224</td>
            <td>489</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>Table 1A: supporting families and communities for fiscal years 2013 to 2014 and 2014 to 2015, total costs (in $ millions)<sup id="table2-fn1-rf"><a class="fn-lnk" href="#table2-fn1"><span class="wb-inv">table 2 note </span>1</a></sup></strong>
        </caption>
        <thead>
          <tr class="active">
            <th scope="col">Initiatives and programs</th>
            <th class="text-right" scope="col">2013 to 2014</th>
            <th class="text-right" scope="col">2014 to 2015</th>
            <th class="text-right" scope="col">Total</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4"><section class="wb-fnote">
                <h5 class="wb-inv" id="table2-fn">Table 2 Notes</h5>
                <dl>
                  <dt> Table 2 Note 1 </dt>
                  <dd id="table2-fn1">
                    <p>Totals may not add due to rounding.</p>
                    <p class="fn-rtn"> <a href="#table2-fn1-rf"><span class="wb-inv">Return to table 2 note </span>1<span class="wb-inv"> referrer</span></a></p>
                  </dd>
                  <dt> Table 2 Note 2 </dt>
                  <dd id="table2-fn2">
                    <p>See Table 1B for detailed breakdown.</p>
                    <p class="fn-rtn"> <a href="#table2-fn2-rf"><span class="wb-inv">Return to table 2 note </span>2<span class="wb-inv"> referrer</span></a></p>
                  </dd>
                  <dt> Table 2 Note 3 </dt>
                  <dd id="table2-fn3">
                    <p>See Table 1C for detailed breakdown.</p>
                    <p class="fn-rtn"> <a href="#table2-fn3-rf"><span class="wb-inv">Return to table 2 note </span>3<span class="wb-inv"> referrer</span></a></p>
                  </dd>
                  <dt> Table 2 Note 4 </dt>
                  <dd id="table2-fn4">
                    <p>See Table 1D for detailed breakdown.</p>
                    <p class="fn-rtn"> <a href="#table2-fn4-rf"><span class="wb-inv">Return to table 2 note </span>4<span class="wb-inv"> referrer</span></a></p>
                  </dd>
                  <dt> Table 2 Note 5 </dt>
                  <dd id="table2-fn5">
                    <p>See Table 1E for detailed breakdown.</p>
                    <p class="fn-rtn"> <a href="#table2-fn5-rf"><span class="wb-inv">Return to table 2 note </span>5<span class="wb-inv"> referrer</span></a></p>
                  </dd>
                </dl>
              </section></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Support for families<sup id="table2-fn2-rf"><a class="fn-lnk" href="#table2-fn2"><span class="wb-inv">table 2 note </span>2</a></sup></span></th>
            <td class="text-right">82</td>
            <td class="text-right">82</td>
            <td class="text-right">164</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Investing in communities<sup id="table2-fn3-rf"><a class="fn-lnk" href="#table2-fn3"><span class="wb-inv">table 2 note </span>3</a></sup></span></th>
            <td class="text-right">133</td>
            <td class="text-right">476</td>
            <td class="text-right">609</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Protecting Canada's natural environment<sup id="table2-fn4-rf"><a class="fn-lnk" href="#table2-fn4"><span class="wb-inv">table 2 note </span>4</a></sup></span></th>
            <td class="text-right">32</td>
            <td class="text-right">9</td>
            <td class="text-right">41</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Building strong Aboriginal communities<sup id="table2-fn5-rf"><a class="fn-lnk" href="#table2-fn5"><span class="wb-inv">table 2 note </span>5</a></sup></span></th>
            <td class="text-right">95</td>
            <td class="text-right">90</td>
            <td class="text-right">185</td>
          </tr>
          <tr>
            <th scope="row">Total: supporting families and communities </th>
            <td class="text-right">342</td>
            <td class="text-right">657</td>
            <td class="text-right">999</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>Table 1B: support for families for fiscal years 2013 to 2014 and 2014 to 2015 (in $ millions)<sup id="table3-fn1-rf"><a class="fn-lnk" href="#table3-fn1"><span class="wb-inv">table 3 note </span>1</a></sup></strong>
        </caption>
        <thead>
          <tr class="active">
            <th scope="col">Initiatives and programs </th>
            <th class="text-right" scope="col">2013 to 2014</th>
            <th class="text-right" scope="col">2014 to 2015</th>
            <th class="text-right" scope="col">Total</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4"><section class="wb-fnote">
                <h5 class="wb-inv" id="table3-fn">Table 3 Notes</h5>
                <dl>
                  <dt> Table 3 Note 1 </dt>
                  <dd id="table3-fn1">
                    <p>Totals may not add due to rounding.</p>
                    <p class="fn-rtn"> <a href="#table3-fn1-rf"><span class="wb-inv">Return to table 3 note </span>1<span class="wb-inv"> referrer</span></a></p>
                  </dd>
                </dl>
              </section></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Expanding tax relief for home care services</span></th>
            <td class="text-right">5</td>
            <td class="text-right">5</td>
            <td class="text-right">10</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Palliative and end-of-life care</span></th>
            <td class="text-right">1</td>
            <td class="text-right">1</td>
            <td class="text-right">2</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Tariff relief for Canadian consumers</span></th>
            <td class="text-right">76</td>
            <td class="text-right">76</td>
            <td class="text-right">152</td>
          </tr>
          <tr>
            <th scope="row">Subtotal: support for families</th>
            <td class="text-right">82</td>
            <td class="text-right">82</td>
            <td class="text-right">164</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>Table 1C: investing in communities for fiscal years 2013 to 2014 and 2014 to 2015 (in $ millions)<sup id="table4-fn1-rf"><a class="fn-lnk" href="#table4-fn1"><span class="wb-inv">table 4 note </span>1</a></sup></strong>
        </caption>
        <thead>
          <tr class="active">
            <th scope="col">Initiatives and programs </th>
            <th class="text-right" scope="col">2013 to 2014</th>
            <th class="text-right" scope="col">2014 to 2015</th>
            <th class="text-right" scope="col">Total</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4"><section class="wb-fnote">
                <h5 class="wb-inv" id="table4-fn">Table 4 Notes</h5>
                <dl>
                  <dt> Table 4 Note 1 </dt>
                  <dd id="table4-fn1">
                    <p>Totals may not add due to rounding.</p>
                    <p class="fn-rtn"> <a href="#table4-fn1-rf"><span class="wb-inv">Return to table 4 note </span>1<span class="wb-inv"> referrer</span></a></p>
                  </dd>
                </dl>
              </section></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Housing for Canadians in need</span></th>
            <td class="text-right">0</td>
            <td class="text-right">0</td>
            <td class="text-right">0</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Homelessness partnering strategy</span></th>
            <td class="text-right">0</td>
            <td class="text-right">119</td>
            <td class="text-right">119</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Investment in affordable housing</span></th>
            <td class="text-right">0</td>
            <td class="text-right">253</td>
            <td class="text-right">253</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Investment in Nunavut housing</span></th>
            <td class="text-right">30</td>
            <td class="text-right">70</td>
            <td class="text-right">100</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Supporting and Honouring veterans</span></th>
            <td class="text-right">0</td>
            <td class="text-right">0</td>
            <td class="text-right">0</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Enhancing Veterans Affairs Canada's Funeral and Burial Program</span></th>
            <td class="text-right">63</td>
            <td class="text-right">2</td>
            <td class="text-right">65</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Road to 2017</span></th>
            <td class="text-right">1</td>
            <td class="text-right">2</td>
            <td class="text-right">3</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Investments in arts and culture</span></th>
            <td class="text-right">0</td>
            <td class="text-right">0</td>
            <td class="text-right">0</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Massey Hall revitalization</span></th>
            <td class="text-right">8</td>
            <td class="text-right">0</td>
            <td class="text-right">8</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Expanding library services for the blind and partially sighted</span></th>
            <td class="text-right">3</td>
            <td class="text-right">0</td>
            <td class="text-right">3</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">First-time Donor's Super Credit</span></th>
            <td class="text-right">25</td>
            <td class="text-right">25</td>
            <td class="text-right">50</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Supporting the economic transition of communities economically linked to the chrysotile asbestos industry</span></th>
            <td class="text-right">3</td>
            <td class="text-right">5</td>
            <td class="text-right">8</td>
          </tr>
          <tr>
            <th scope="row">Subtotal: investing in communities</th>
            <td class="text-right">133</td>
            <td class="text-right">476</td>
            <td class="text-right">609</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>Table 1D: protecting Canada's natural environment for fiscal years 2013 to 2014 and 2014 to 2015 (in $&nbsp;millions)<sup id="table5-fn1-rf"><a class="fn-lnk" href="#table5-fn1"><span class="wb-inv">table 5 note </span>1</a></sup></strong>
        </caption>
        <thead>
          <tr class="active">
            <th scope="col">Initiatives and programs </th>
            <th class="text-right" scope="col">2013 to 2014</th>
            <th class="text-right" scope="col">2014 to 2015</th>
            <th class="text-right" scope="col">Total</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4"><section class="wb-fnote">
                <h5 class="wb-inv" id="table5-fn">Table 5 Notes</h5>
                <dl>
                  <dt> Table 5 Note 1 </dt>
                  <dd id="table5-fn1">
                    <p>Totals may not add due to rounding.</p>
                    <p class="fn-rtn"> <a href="#table5-fn1-rf"><span class="wb-inv">Return to table 5 note </span>1<span class="wb-inv"> referrer</span></a></p>
                  </dd>
                </dl>
              </section></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Nature Conservancy of Canada</span></th>
            <td class="text-right">20</td>
            <td class="text-right">0</td>
            <td class="text-right">20</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Improving the conservation of fisheries through community partnerships</span></th>
            <td class="text-right">5</td>
            <td class="text-right">5</td>
            <td class="text-right">10</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Salmon conservation stamp</span></th>
            <td class="text-right">1</td>
            <td class="text-right">1</td>
            <td class="text-right">2</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Enabling responsible marine management</span></th>
            <td class="text-right">4</td>
            <td class="text-right">0</td>
            <td class="text-right">4</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Protecting against invasive species</span></th>
            <td class="text-right">2</td>
            <td class="text-right">2</td>
            <td class="text-right">3</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Expanding tax support for clean energy generation</span></th>
            <td class="text-right">0</td>
            <td class="text-right">1</td>
            <td class="text-right">1</td>
          </tr>
          <tr>
            <th scope="row">Subtotal: protecting Canada's natural environment</th>
            <td class="text-right">32</td>
            <td class="text-right">9</td>
            <td class="text-right">41</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-condensed">
        <caption class="text-center">
        <strong>Table 1E: building strong Aboriginal communities for fiscal years 2013 to 2014 and 2014 to 2015 (in $&nbsp;millions)<sup id="table6-fn1-rf"><a class="fn-lnk" href="#table6-fn1"><span class="wb-inv">table 6 note </span>1</a></sup></strong>
        </caption>
        <thead>
          <tr class="active">
            <th scope="col">Initiatives and programs</th>
            <th class="text-right" scope="col">2013 to 2014</th>
            <th class="text-right" scope="col">2014 to 2015</th>
            <th class="text-right" scope="col">Total</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="4"><section class="wb-fnote">
                <h5 class="wb-inv" id="table6-fn">Table 6 Notes</h5>
                <dl>
                  <dt> Table 6 Note 1 </dt>
                  <dd id="table6-fn1">
                    <p>Totals may not add due to rounding.</p>
                    <p class="fn-rtn"> <a href="#table6-fn1-rf"><span class="wb-inv">Return to table 6 note </span>1<span class="wb-inv"> referrer</span></a></p>
                  </dd>
                </dl>
              </section></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <th scope="row" class="td"><span class="mrgn-lft-md">Resolving specific claims</span></th>
            <td class="text-right">27</td>
            <td class="text-right">27</td>
            <td class="text-right">54</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">First Nations Land Management Regime</span></th>
            <td class="text-right">2</td>
            <td class="text-right">7</td>
            <td class="text-right">9</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">First Nations Policing Program</span></th>
            <td class="text-right">18</td>
            <td class="text-right">18</td>
            <td class="text-right">36</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Aboriginal Justice Strategy</span></th>
            <td class="text-right">11</td>
            <td class="text-right">0</td>
            <td class="text-right">11</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Renewal of the Family Violence Prevention Program</span></th>
            <td class="text-right">12</td>
            <td class="text-right">12</td>
            <td class="text-right">24</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Improving health services to First Nations Communities</span></th>
            <td class="text-right">24</td>
            <td class="text-right">24</td>
            <td class="text-right">48</td>
          </tr>
          <tr>
            <th scope="row"><span class="mrgn-lft-md">Enhancing mental health services in First Nations communities</span></th>
            <td class="text-right">2</td>
            <td class="text-right">2</td>
            <td class="text-right">4</td>
          </tr>
          <tr>
            <th scope="row">Subtotal: building strong Aboriginal communities</th>
            <td class="text-right">95</td>
            <td class="text-right">90</td>
            <td class="text-right">185</td>
          </tr>
        </tbody>
      </table>
      <h3>What we did</h3>
      <p>To create these tables, we: </p>
      <ul>
        <li>divided a complex table into several simple tables that are more accessible and can be viewed easily on mobile devices</li>
        <li>applied the inverted pyramid approach to provide the summary or conclusion first, followed by increasingly detailed information </li>
        <li>created a clear title for each table</li>
        <li>updated titles to reflect capitalization requirements</li>
        <li>used existing subheadings embedded in the original example to create table headers</li>
        <li>made sure that the last 3 column headers reflect the unit value of the information in each column</li>
        <li>added zeros to provide relevant information in otherwise empty cells </li>
        <li>removed empty cells, rows and irrelevant information (underlining) and subheadings (such as those that were not aligned with the column headers)</li>
      </ul>
<h2 id="h-2" class="mrgn-bttm-0">Design options</h2>
<h3 id="h-2-1">Default</h3>
         <div class="row">
            <div class="col-md-7">
               <div class="ds-example">
                  <div class="wb-tabs ignore-session">
                     <div class="tabpanels">
                        <details id="tab1a">
                           <summary>Appearance</summary>
						   <div class="row">
						   <div class="col-md-8 col-lg-9">
                          <table class="table">
            <caption class="wb-inv">
            Table example with heading
            </caption>
            <thead>
              <tr>
                <th scope="col">Header</th>
                <th scope="col">Header</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Data Data</td>
                <td>Data Data</td>
              </tr>
              <tr>
                <td>Data Data</td>
                <td>Data Data</td>
              </tr>
            </tbody>
          </table>
						   </div>
						   <div class="col-md-4 col-lg-3">
                           <div class="ds-configuration">
						   <fieldset><legend>Modifiers</legend>
						  
						   <div class="radio">
  <label><input type="radio" name="optradio" checked >None</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Bordered</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Striping (zebra)</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Hover row</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">Condensed</label>
</div></fieldset>

						   </div>
						   </div>
						   </div>
                        </details>
                        <details id="tab1b">
                           <summary>Code</summary>
                           <details id="tab1b-html">
                              <summary>HTML</summary>
                           </details>
                           <details id="tab1b-struts">
                              <summary>Struts</summary>
                              <div class="mrgn-tp-md"></div>
                              <p>
                                 ...
                              </p>
                           </details>
                        </details>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-5">
               <h4>Correct use</h4>
               <ul class="fa-ul">
                  <li><span class="fas fa-check fa-li text-success"></span> [somethings goes here]</li>
                  <li><span class="fas fa-check fa-li text-success"></span> [somethings goes here]</li>
                  <li><span class="fas fa-check fa-li text-success"></span> [somethings goes here]</li>
                  <li><span class="fas fa-check fa-li text-success"></span> [somethings goes here]</li>
                  <li><span class="fas fa-check fa-li text-success"></span> [somethings goes here]</li>
               </ul>
            </div>
         </div>
<h3 id="h-2-2">toc2b</h3>
<p>[content]</p>
<h3 id="h-2-3">toc2c</h3>
<p>[content]</p>
<h2 id="h-3">Supporting research</h2>
         <p>Check out the research findings:</p>
         <ul class="lst-spcd">
            <li><a href="#">[name of research article]</a></li>
            <li><a href="#">[name of research article]</a></li>
            <li><a href="#">[name of research article]</a></li>
            <li><a href="#">[name of research article]</a></li>
         </ul>
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: false,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>