<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Navigation page templates: CRA design system – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link href="../../../css/pn.css" rel="stylesheet">
	  <link href="../../../css/h1-underline.css" rel="stylesheet">  
	  <link href="../../../css/h1-stacked.css" rel="stylesheet">   	  
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link href="../../../css/design-system.css" rel="stylesheet">
	  <style>
	  iframe .topic-tools pull-right {display:none;}
	  </style>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "Canada.ca",
             href: "https://www.canada.ca/en.html"
           }, {
             title: "[Theme]",
             href: "#"
           }],
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <nav class="navbar navbar-default">
         <div class="container">
            <div class="navbar-header">
               <a class="overlay-lnk navbar-toggle" role="button" aria-controls="sitenav" href="#sitenav"><span class="fas fa-bars"></span> Menu</a>
               <a class="navbar-brand active" href="../index-e.html">CRA design system</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav">
                  <li class="active"><a href="../index-e.html">Design</a></li>
                  <li><a href="../../writing/index-e.html">Writing</a></li>

               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="../../whats-new/index-e.html">What's new</a></li>
				  <li><a href="../../research/index-e.html">Research</a></li>
				  <li><a href="../../about/index-e.html">About</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <section id="sitenav" class="wb-overlay modal-content overlay-def wb-panel-l">
         <header class="modal-header">
            <h2 class="modal-title">Menu</h2>
         </header>
         <div class="modal-body">
            <ul class="list-unstyled lst-spcd">
               <li><a href="index-e.html">Design</a></li>
               <li><a href="../../writing/index-e.html">Writing</a></li>
               
               <li><a href="../../whats-new/index-e.html">What's new</a></li>
			   <li><a href="../../research/index-e.html">Research</a></li>
			   <li><a href="../../about/index-e.html">About</a></li>
            </ul>
         </div>
      </section>
      <nav id="wb-bc" property="breadcrumb">
         <h2>You are here:</h2>
         <div class="container">
            <ol class="breadcrumb">
               <li><a href="../../index-e.html">CRA design system</a></li>
			   <li><a href="../index-e.html">Design</a></li>
			   <li><a href="index-e.html">Templates</a></li>
            </ol>
         </div>
      </nav>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" id="wb-cont"><span class="stacked" role="text"><span>Navigation page templates</span>: <span>CRA design system</span></span></h1>
		 <h2 class="h3">On this page</h2>
   
     
					<ul>
						<li><a href="#use">When to use</a></li>
						<li><a href="#avoid">What to avoid</a></li>
						<li><a href="#specifications">How to implement</a></li>
						<li><a href="#research">Research</a></li>
						<li><a href="#changes">Latest changes</a></li>
						<li><a href="#discuss">Discussion</a></li>
					</ul>
					<h2 id="use">When to use</h2>
						<h2 id="avoid">What to avoid</h2>
						<h2 id="specifications">How to implement</h2>
						
		 <p class="pull-right"><a href="topic-template-e.html" target="_blank">Open in new window</a></p>
		 <iframe src="topic-template-e.html" height="600" width="100%" title="Iframe Example"></iframe>
	
									<section>
										<h3>1: Topic title</h3>
										<p><span class="label label-danger">Mandatory</span></p>
										<p>Names the current topic</p>
										<ul class="list-unstyled">
											<li id="element2-1">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Presentation</strong></summary>
													<ul>
														<li>the topic title must be a unique H1</li>
														<li>it must be the first component on the page</li>
													</ul>
												</details>
											</li>
										</ul>
									</section>
									<section>
										<h3>2: Topic introductory paragraph</h3>
										<p><span class="label label-danger">Mandatory</span></p>
										<p>Describes the current topic page</p>
										<ul class="list-unstyled">
											<li id="element2-2a">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Content</strong></summary>
													<ul>
														<li>provides an overview of the top tasks or sub-topics that can be accessed from the current topic</li>
														<li>keep the text short and concise</li>
														<li>written for a grade 6-8 reading level</li>
													</ul>
												</details>
											</li>
											<li id="element2-2b">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Presentation</strong></summary>
													<ul>
														<li>appears below the topic title</li>
														<li>appears to the left of the topic image</li>
													</ul>
												</details>
											</li>
										</ul>
									</section>
									<section>
										<h3>3: Topic image</h3>
										<p><span class="label label-info">Optional</span></p>
										<p>Supports and enhances key messages related to the topic page</p>
										<ul class="list-unstyled">
											<li id="element2-3a">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Content</strong></summary>
													<ul>
														<li>the image must reflect key messages related to the topic</li>
														<li>the image may appear elsewhere on the site</li>
														<li>carousels are not allowed on topic pages</li>
														<li>use the <a href="../common-design-patterns/images.html">Images</a> pattern</li>
													</ul>
												</details>
											</li>
											<li id="element2-3b">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Presentation</strong></summary>
													<ul>
														<li>the topic image appears at the top of the page</li>
														<li> appears to the right of the introductory paragraph</li>
														<li>the image is not hyperlinked</li>
														<li>consult the <a href="http://wet-boew.github.io/themes-dist/GCWeb/index-en.html">Canada.ca GitHub page</a> for image sizing</li>
													</ul>
												</details>
											</li>
										</ul>
									</section>
									<section>
										<h3>4: Topic social media channels</h3>
										<p><span class="label label-info">Optional</span></p>
										<p>Features topic-specific social media channels</p>
										<ul class="list-unstyled">
											<li id="element2-4a">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Content</strong></summary>
													<ul>
														<li>use the <a href="../common-design-patterns/social-media-channels.html">Social media channels block (follow block)</a> pattern</li>
													</ul>
												</details>
											</li>
											<li id="element2-4b">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Presentation</strong></summary>
													<ul>
														<li>appears below the topic introductory paragraph</li>
													</ul>
												</details>
											</li>
										</ul>
									</section>
									<section>
										<h3>5: Services and information</h3>
										<p><span class="label label-danger">Mandatory</span></p>
										<p>Lists the sub-topics and destination content related to the current topic</p>
										<ul class="list-unstyled">
											<li id="element2-5a">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Content</strong></summary>
													<ul>
														<li>use the <a href="../common-design-patterns/services-information.html">Services and information</a> pattern</li>
													</ul>
												</details>
											</li>
											<li id="element2-5b">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Presentation</strong></summary>
													<ul>
														<li>appears below the topic social media channels and to the left of “Most requested”</li>
													</ul>
												</details>
											</li>
										</ul>
									</section>
									<section>
										<h3>6: Most requested</h3>
										<p><span class="label label-danger">Mandatory</span> on theme pages and first-level topic pages</p>
										<p>Features top tasks for the current topic</p>
										<ul class="list-unstyled">
											<li id="element2-6a">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Content</strong></summary>
													<ul>
														<li>use the <a href="../common-design-patterns/most-requested.html">Most requested</a> pattern</li>
													</ul>
												</details>
											</li>
											<li id="element2-6b">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Presentation</strong></summary>
													<ul>
														<li>appears to the right of “Services and information”</li>
													</ul>
												</details>
											</li>
										</ul>
									</section>
									<section>
										<h3>7: Contributors</h3>
										<p><span class="label label-danger">Mandatory</span></p>
										<p>Links to institutions that support the current topic</p>
										<ul class="list-unstyled">
											<li id="element2-7a">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Content</strong></summary>
													<ul>
														<li>use the <a href="../common-design-patterns/contributors.html">Contributors</a> pattern</li>
													</ul>
												</details>
											</li>
											<li id="element2-7b">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Presentation</strong></summary>
													<ul>
														<li>appears below “Most requested”</li>
													</ul>
												</details>
											</li>
										</ul>
									</section>
									<section>
										<h3>8: More information for</h3>
										<p><span class="label label-danger">Conditional</span></p>
										<p>Links to related government-wide audience information</p>
										<ul class="list-unstyled">
											<li id="element2-8a">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Content</strong></summary>
													<ul>
														<li>this component is mandatory when there are 1 or more doormat links in services and information related to the topic government-wide audience pages</li>
														<li>use the <a href="../common-design-patterns/more-information.html">More information for</a> pattern</li>
													</ul>
												</details>
											</li>
											<li id="element2-8b">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Presentation</strong></summary>
													<ul>
														<li>appears below “Contributors”</li>
													</ul>
												</details>
											</li>
										</ul>
									</section>
									<section>
										<h3>9: What we are doing</h3>
										<p><span class="label label-danger">Conditional</span></p>
										<p>Provides links to program and policy development content that is most relevant to the current topic</p>
										<ul class="list-unstyled">
											<li id="element2-9a">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Content</strong></summary>
													<ul>
														<li>this component is mandatory when program and policy development content related to the current topic exists</li>
														<li>use the <a href="../common-design-patterns/what-we-are-doing.html">What we are doing</a> pattern</li>
													</ul>
												</details>
											</li>
											<li id="element2-9b">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Presentation</strong></summary>
													<ul>
														<li>appears below “Services and information” and “Most requested”</li>
													</ul>
												</details>
											</li>
										</ul>
									</section>
									<section>
										<h3>10: Topic features</h3>
										<p><span class="label label-info">Optional</span></p>
										<p>Promotes ongoing activities being led by departments and agencies across the <abbr title="Government of Canada">GC</abbr> that are related to the current topic</p>
										<ul class="list-unstyled">
											<li id="element2-10a">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Content</strong></summary>
													<ul>
														<li>use the <a href="../common-design-patterns/feature-tiles.html">Context-specific features</a> pattern</li>
													</ul>
												</details>
											</li>
											<li id="element2-10b">
												<details class="mrgn-bttm-sm">
													<summary class="wb-toggle" data-toggle='{"print":"on"}'><strong>Presentation</strong></summary>
													<ul>
														<li>appears below “What we are doing”</li>
													</ul>
												</details>
											</li>
										</ul>
									</section>
								
		 <h2 id="research">Research</h2>
						<h2 id="changes">Latest changes</h2>
						<h2 id="discuss">Discussion</h2>
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: false,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>